

<br><br>


<div class="row column text-left">
<h3>About us</h3>
<hr>
<p>The Refugee Map is a platform created to simplified the search of the different sites available in Europe for the Syrian refugees. Nowadays you can see the sites that belong to the Greek region called Attica, but in the future we hoped we can showed you all the places available in Greece and in Europe.</p>
<p>
Thanks!</p>

</div>
<br><br>



