



<br><br>

<div class="row">
<div class="medium-6 columns">
<h3>Contact us</h3>
<p>If you have any question about the showed data you can contact one of the UNHCR Offices throgh their  
<a href="http://www.unhcr.org/en-us/contact-us.html">website</a>.
<br><br>
If you are looking for the arab UNHCR website you can contact them 
<a href="http://www.unhcr.org/ar/4be7cc27100.html">here</a>.
<br><br>

If you have any question about this website you can contact us throght the form of this page. </p>

<br><br>



</div>
<div class="medium-6 columns">
<label>Name
<input type="text" placeholder="Name">
</label>
<label>Email
<input type="text" placeholder="Email">
</label>
<label>
Message
<textarea placeholder="Write your message"></textarea>
</label>
<input type="submit" class="button expanded" value="Submit">
</div>
</div>
</div>
</div>
</div>