<h1>Welcome#english</h1>
<p>Find me in app/views/welcome/english.html.erb</p>
<div class="row">
<div class="left-2 columns">
<h3>English</h3>
<p>

        
</p>

<br><br>


</div>
(imagen logo)

<img src="/assets/Logo-small" alt="Logo">